<div id="fb-root">
    {% if is_https %}
	<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
	{% else %}
	<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	{% endif %}
</div>
<script type="text/javascript" >
  // initialize the library with the API key
  FB.init({ 
  	{% if facebook_app_id %} appId: '{{ facebook_app_id }}', {% endif %}
  	{% if facebook_api_key %} apiKey: '{{ facebook_api_key }}', {% endif %}
  	status: true, cookie: true, xfbml: true});

  function facebookConnect(form){
      function handleResponse(response){
          form.submit();
      }
      FB.login(handleResponse{% if facebook_req_perms %}, {perms: '{{ facebook_req_perms }}' } {% endif %} );
  }
</script>
