<div id="fb-root">
    <script src="http://connect.facebook.net/en_US/all.js"></script>
</div>
<script>
  // initialize the library with the API key
  FB.init({ apiKey: '{{ facebook_api_key }}', status: true, cookie: true, xfbml: true});

  // fetch the status on load
  FB.getLoginStatus(handleSessionResponse);

  function facebookConnect(form){
      function handleResponse(response){
          form.submit();
      }
      FB.login(handleResponse/*,{perms:'publish_stream,sms,offline_access,email,read_stream,status_update,etc'}*/);
  }

</script>
