<html><head><title>Socialregistration example</title></head>
<body>
{% load openid %}

{% if not request.user.is_authenticated %}
	<h1>django-socialregistration login</h2>
{% else %}
	<h1>Hi, {{ request.user }}</h1>
{% endif %}

<ol>
	<li>
		{% openid_form %}
	</li>
	<li>
		<form action="{% url socialregistration:openid:redirect %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="openid_provider" value="https://www.google.com/accounts/o8/id" />
			<input type="submit" value="Sign in with Google OpenID" />
		</form>
	</li>
</ol>

<h4>Connected profiles:</h4>

<ol>
	<li>Facebook: {{ facebook.count }}</li>
	<li>Twitter: {{ twitter.count }}</li>
	<li>OpenID: {{ openid.count }}</li>
	<li>LinkedIn: {{ linkedin.count }}</li>
</ol>

{% if request.user.is_authenticated %}
	<a href="{% url socialregistration:logout %}">Logout</a>
{% endif %}

<p><a href="https://github.com/flashingpumpkin/django-socialregistration">Code on Github</a></p>
</body>
</html>