<html><head><title>Socialregistration example</title></head>
<body>

{% if not request.user.is_authenticated %}
	<h1>django-socialregistration login</h2>
{% else %}
	<h1>Hi, {{ request.user }}</h1>
{% endif %}

{% load facebook twitter openid linkedin github foursquare tumblr %}
<ol>
    <li>{% facebook_button %}</li>
	<li>{% twitter_button %}</li>
	<li>{% linkedin_button %}</li>
    <li>{% github_button %}</li>
    <li>{% foursquare_button %}</li>
    <li>{% tumblr_button %}</li>
	<li>{% openid_form %}</li>
	<li>
		<form action="{% url socialregistration:openid:redirect %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="openid_provider" value="https://www.google.com/accounts/o8/id" />
			<input type="submit" value="Sign in with Google OpenID" />
		</form>
	</li>
</ol>

<h4>Connected profiles:</h4>

<ol>
	<li>Facebook: {{ facebook.count }}</li>
	<li>Twitter: {{ twitter.count }}</li>
    <li>LinkedIn: {{ linkedin.count }}</li>
    <li>Github: {{ github.count }}</li>
    <li>Foursquare: {{ foursquare.count }}</li>
    <li>Tumblr: {{ tumblr.count }}</li>
	<li>OpenID: {{ openid.count }}</li>
</ol>

{% if request.user.is_authenticated %}
	<a href="{% url socialregistration:logout %}">Logout</a>
{% endif %}

<p><a href="https://github.com/flashingpumpkin/django-socialregistration">Code on Github</a></p>
</body>
</html>
